.portfolio-container {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: beige;
  z-index: 50;
  will-change: transform;
}

.projects-container {
  width: 70vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10%;
}
