.portfolio-container {
  background-color: beige;
  z-index: 50;
  position: relative;
  top: 100vh;
}

.projects-container {
  width: 70vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10%;
}
