.portfolio-item-container {
  position: absolute;
  background-color: white;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(100vh);
}

#item-image {
  width: 100%;
  z-index: 100;
}

/* slide animations */
.slide-up {
  animation: slide-up 1s forwards;
  -webkit-animation: slide-up 1s forwards;
}

.slide-down {
  animation: slide-down 1s forwards;
  -webkit-animation: slide-down 1s forwards;
}

@keyframes slide-up {
  100% {
    transform: translateY(0vh);
  }
}

@-webkit-keyframes slide-up {
  100% {
    transform: translateY(0vh);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@-webkit-keyframes slide-down {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
