.portfolio-item-container {
  width: 30vw;
  position: relative;
  border: 1px solid;
  display: flex;
}

#item-image {
  opacity: 1;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
}

#item-info-container {
  position: absolute;
  top: 0;
  padding: 1.5rem 0 0 3rem;
}

#item-title {
  margin-bottom: 1rem;
}

.item-exp-container {
  margin-bottom: 2rem;
}

#item-website-link,
#item-code-link {
  color: blue;
  margin-right: 3rem;
}
