/* slide animations */
.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* main content */
#about-container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 60;
}

#about-back {
  position: absolute;
  top: 50%;
  right: 2rem;
}

#quote {
  margin: 20vh 0 10vh 0;
  padding: 0 30% 0 30%;
}

#languages-label-container,
#other-tech-label-container {
  position: relative;
  margin-bottom: 5vh;
}

#languages-label,
#other-tech-label {
  width: 10vw;
  z-index: 100;
  background-color: aqua;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.strikethrough {
  border-bottom: 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  z-index: 10;
}

.languages-container,
.tech-container {
  margin-bottom: 3rem;
}

.languages-icon,
.tech-icon {
  height: 4rem;
  margin: 0 0.5rem 0 0.5rem;
}
