/* slide animations */
.slide-in {
  animation: slide-in 0.7s forwards;
  -webkit-animation: slide-in 0.7s forwards;
}

.slide-out {
  animation: slide-out 0.7s forwards;
  -webkit-animation: slide-out 0.7s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* main content */
#about-container {
  width: 25vw;
  background-color: lightgray;
  position: absolute;
  transform: translateX(-100%);
  z-index: 100;
}

.about-title {
  font-size: 2rem;
  margin: 5vh 0 5vh 8%;
}

.about-description {
  font-style: italic;
  margin-bottom: 4vh;
  margin-left: 8%;
  width: 85%;
}

.about-line {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-top: 1px solid black;
  height: 1px;
  margin-bottom: 5vh;
}

.about-links-container {
  margin: 5vh 0 5vh 8%;
}

.stack-left,
.stack-right {
  display: inline-block;
  vertical-align: top;
}

.stack-left {
  margin: 0 20% 0 8%;
}

.stack-title {
  margin-bottom: 1.5vh;
  font-size: 1.7vh;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.3vw;
  font-weight: bold;
}

.stack,
.tech {
  line-height: 150%;
}

.social-link {
  width: 2.5vw;
  min-width: 40px;
  margin-right: 10%;
}

/* Mobile */
@media (max-width: 800px) {
  #about-container {
    width: 100vw;
    background-color: lightgray;
    position: absolute;
    transform: translateY(-100%);
    z-index: 100;
  }

  .stack-title {
    font-size: 2vh;
  }

  .stack,
  .tech {
    font-size: 2vh;
  }

  /* Mobile slide animations */
  @keyframes slide-in {
    100% {
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes slide-in {
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @-webkit-keyframes slide-out {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}
