@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

.frontpage-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#name {
  font-family: "Bungee Shade", cursive;
  margin-bottom: 3vh;
  font-size: 8vh;
  line-height: 1;
}

#legend {
  font-size: 2rem;
}

#about,
#contact {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 50;
}

#about {
  left: 0;
  transform: translateY(-50%) rotate(-90deg);
}

#contact {
  right: 0;
  transform: translateY(-50%) rotate(90deg);
}

.links-container {
  margin-top: 3rem;
}

.social-link {
  width: 5rem;
  margin: 0 2rem 0 2rem;
}

#scroll-arrow {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}
