@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.frontpage-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

#frontpage-logo {
  width: 55%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#about,
#contact {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 50;
}

#about {
  left: 0;
  transform: translateY(-50%) rotate(-90deg);
}

#contact {
  right: 0;
  transform: translateY(-50%) rotate(90deg);
}

.links-container {
  position: absolute;
  bottom: 10%;
  display: none;
}

.social-link {
  width: 3rem;
  margin: 0 2rem 0 2rem;
}

#scroll-arrow {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}

@media (max-width: 600px) {
  #frontpage-logo {
    width: 90%;
    height: auto;
  }

  #about {
    display: none;
  }
}
