.index-sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10vw;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.index-number {
  font-size: 3rem;
  margin: 0.5rem 0rem;
}
