html,
body {
  overflow: hidden !important;
}

.to-top-button {
  width: 4vw;
  height: 4vw;
  position: fixed;
  top: 5vw;
  right: 4vw;
  z-index: 20000;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.spinner-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
